<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
</head>
<body>
<!--haeder부분-->
<div th:insert="common/header.html" id="header"></div>


<div class="board">
<h2 th:text="${PostDto.title}"></h2>
<!--<p th:inline="text">작성일 : [[${#temporals.format(PostDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>-->

<p th:text="${PostDto.content}"></p>

<!-- 수정/삭제 -->
<div>
    <a th:href="@{'/post/edit/' + ${PostDto.id}}">
        <button>수정</button>
    </a>

    <form id="delete-form" th:action="@{'/post/' + ${PostDto.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button id="delete-btn">삭제</button>
    </form>
</div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var PostDto = /*[[${PostDto}]]*/ "";
    /*]]>*/
</script>

</div>
<!--footer부분-->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>