<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!--haeder부분-->
<div th:insert="common/header.html" id="header"></div>

    <!--post부분-->
    <div class="board">
        <div>
            <input type="hidden" name="postId" th:value="${PostDto.id}"/>
            <h2 class="post-title"></h2>
            작성일자: <a class="post-created-at"></a>
            (<a class="post-updated-at"></a>)<br>
            조회수: <a class="post-hits"><span id="view-count"></span></a>
            작성자: <a class="post-username"></a>
            <p> ------------------------------------------------------------------</p>
            <p class="post-content"></p>
            <p> ------------------------------------------------------------------</p>
        </div>

    </div>
    <!-- 수정/삭제 -->
    <div>
            <span class="edit-button">
            <form th:action="@{'edit/' + ${PostDto.id}}" method="get">
                <button type="submit">수정</button>
            </form>
            </span>
            <span class="delete-button">
            <form th:action="@{'/posts' + ${PostDto.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="hidden" name="postId" th:value="${PostDto.id}"/>

                <button type="button" class="btn-delete" id="btn-delete">삭제</button>
            </form>
            </span>
    </div>
    <!--comment부분-->
    <div>
        <p> ------------------------------------------------------------------</p>
        <b>댓글달기</b>
        이름:<input type="text" name="username">
        비밀번호:<input type="text" name="password"><br>
        <textarea name="content" class="comment-text" placeholder="댓글을 입력해 주세요."></textarea>
        <button type="button" class="btn-comment-save" id="btn-save">등록</button>
    </div>
<!--footer부분-->
<div th:insert="common/footer.html" id="footer"></div>

<script>
    $(document).ready(function () {
        var post_id = $("[name=postId]").val();
        $.ajax({
            url: `/api/posts/${post_id}`,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $(".post-title").text(data.title);
                $(".post-created-at").text(data.createdAt);
                $(".post-updated-at").text(data.updatedAt);
                $(".post-hits").text(data.hits);
                $(".post-username").text(data.username);
                $(".post-content").text(data.content);
            },
            error: function (xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
            }
        });
    });
    $("#edit-form").submit(function (event) {

        $.ajax({
            url: `/api/posts/edit/${id}`,
            method: "GET",
            success: function (response) {
                $("#post-title").val(response.title);
                $("#post-writer").val(response.writer);
                $("#post-content").val(response.content);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });
    $("#btn-delete").click(function () {
        var post_id = $("[name=postId]").val();
        if (confirm('게시물을 삭제하시겠습니까?')) {
            $.ajax({
                type: "DELETE",
                url: `/api/posts/${post_id}`,
                method: "DELETE",
                success: function (response) {
                    alert('삭제 완료');
                    window.location.href = "/board";
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    });
    $(document).ready(function () {
        const postId = $('#post-id').val();
        increaseViewCount(postId);

        function increaseViewCount(postId) {
            $.ajax({
                url: `/posts/${postId}/views`,
                type: 'PUT',
                success: function (data) {
                    $('#view-count').text(data.count);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                },
            });
        }
    });
</script>
</body>
</html>