<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!--haeder부분-->
<div th:insert="common/header.html" id="header"></div>

<!--body부분-->
<div class="body">
    <!-- 검색 -->
    <div>
        <form>
            <select id="search-target" name="target">
                <option value="title">제목</option>
                <option value="username">작성자</option>
            </select>
            <input id="keyword" name="keyword" type="text" placeholder="검색어를 입력해주세요">
            <button id="search-button" type="button">검색</button>
        </form>
    </div>
    <!--글쓰기 버튼-->
    <a th:href="@{/board/posts}" class="write">글쓰기</a>

    <!-- 테이블 부분-->
    <div class="board">
        <table class="table">
            <tr>
                <th class="one wide">번호</th>
                <th class="ten wide">글제목</th>
                <th class="two wide">작성자</th>
                <th class="three wide">작성일</th>
                <th class="three wide">수정일자</th>
                <th class="one wide">조회수</th>
            </tr>

            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>

<!--페이지처리-->
<div>
    <nav style="text-align: center;">
        <ul class="pagination"></ul>
        <input type="hidden" name="page" th:value="${postList.number}"/>
    </nav>
</div>

<!--footer부분-->
<div th:insert="common/footer.html" id="footer"></div>

<script>
    $(document).ready(function () {
        const tableBody = document.getElementById('table-body');
        var page = $("[name=page]").val();
        $.ajax({
            url: `/api/board?page=${page}`,
            type: "GET",
            success: function (data) {
                const tableRows = data.content.map((rowData) => {
                    const row = document.createElement('tr');
                    const rowValues = Object.values(rowData).filter(value => value !== null);
                    rowValues.forEach((value, index) => {
                        const cell = document.createElement('td');
                        if (index === 1) { // 타이틀 셀
                            cell.textContent = value;
                            cell.style.cursor = "pointer";
                            row.addEventListener('click', (event) => {
                                if (event.target === cell) {
                                    const id = rowData['id'];
                                    // 해당 id가 있는 페이지로 이동합니다
                                    window.location.href = `/posts/${id}`;
                                }
                            });
                        } else {
                            cell.textContent = value;
                        }
                        row.appendChild(cell);
                    });
                    return row;
                });
                tableRows.forEach((row) => tableBody.appendChild(row));
                renderPagination(data);
            }
        });
    });
    $(document).ready(function () {
        const $searchButton = $('#search-button');
        const $searchTarget = $('#search-target');
        const $keyword = $('#keyword');
        const page = $("[name=page]").val();
        $searchButton.click(function () {
            const keyword = $keyword.val();
            const target = $searchTarget.val();

            if (target === 'title') { // 제목으로 검색
                searchByTitle(keyword);
            } else if (target === 'username') { // 작성자로 검색
                searchByUsername(keyword);
            }
        });
        function searchByTitle(keyword, pageNumber) {
            $.ajax({
                url: `/api/board/search?keyword=${keyword}&target=title&page=${page}`,
                type: "GET",
                success: function (data) {
                    const tableBody = $('#table-body');
                    tableBody.empty();
                    if (data.length === 0) {
                        const row = $('<tr>');
                        const cell = $('<td>').attr('colspan', 6).text('검색 결과가 없습니다.');
                        row.append(cell);
                        tableBody.append(row);

                    } else {
                        Array.from(data).forEach(rowData => {
                            const row = $('<tr>');
                            const rowValues = Object.values(rowData).filter(value => value !== null);
                            rowValues.forEach((value, index) => {
                                const cell = $('<td>');
                                if (index === 1) { // title cell
                                    cell.text(value);
                                    cell.css('cursor', 'pointer');
                                    cell.click(() => {
                                        const id = rowData['id'];
                                        // go to the page with the corresponding id
                                        window.location.href = `/posts/${id}`;
                                    });
                                } else {
                                    cell.text(value);
                                }
                                row.append(cell);
                            });
                            tableBody.append(row);
                        });
                        const pagination = $('<ul class="pagination"></ul>');
                        const totalPages = data.totalPages;
                        const currentPage = data.number + 1;

                        for (let i = 1; i <= totalPages; i++) {
                            const li = $('<li class="page-item"></li>');
                            const a = $('<a class="page-link"></a>');
                            a.text(i);
                            if (i === currentPage) {
                                li.addClass('active');
                            }
                            a.click(() => {
                                searchByTitle(keyword, i);
                            });
                            li.append(a);
                            pagination.append(li);
                        }
                        $('#pagination-wrapper').empty().append(pagination);
                    }
                }
            });
        }
        function searchByUsername(keyword,pageNumber) {
            $.ajax({
                url: `/api/board/search?keyword=${keyword}&target=username&page=${pageNumber}&size=15`,
                type: "GET",
                success: function (data) {
                    const tableBody = $('#table-body');
                    tableBody.empty();
                    if (data.length === 0) {
                        const row = $('<tr>');
                        const cell = $('<td>').attr('colspan', 6).text('검색 결과가 없습니다.');
                        row.append(cell);
                        tableBody.append(row);
                    } else {
                        data.forEach(rowData => {
                            const row = $('<tr>');
                            const rowValues = Object.values(rowData).filter(value => value !== null);
                            rowValues.forEach((value, index) => {
                                const cell = $('<td>');
                                if (index === 1) { // title cell
                                    cell.text(value);
                                    cell.css('cursor', 'pointer');
                                    cell.click(() => {
                                        const id = rowData['id'];
                                        // go to the page with the corresponding id
                                        window.location.href = `/posts/${id}`;
                                    });
                                } else {
                                    cell.text(value);
                                }
                                row.append(cell);
                            });
                            tableBody.append(row);
                        });
                        // 페이지네이션 추가
                        const pagination = $('<ul class="pagination"></ul>');
                        const totalPages = data.totalPages;
                        const currentPage = data.number + 1;

                        for (let i = 1; i <= totalPages; i++) {
                            const li = $('<li class="page-item"></li>');
                            const a = $('<a class="page-link"></a>');
                            a.text(i);
                            if (i === currentPage) {
                                li.addClass('active');
                            }
                            a.click(() => {
                                searchByTitle(keyword, i);
                            });
                            li.append(a);
                            pagination.append(li);
                        }
                        $('#pagination-wrapper').empty().append(pagination);
                    }
                }
            });
        }
    });
    // 페이지 구현
    function renderPagination(data) {
        const nav = $('<nav>').css('text-align', 'center');
        const ul = $('<ul>').addClass('pagination').appendTo(nav);
        // 현재페이지
        const currentPage = $("[name=page]").val();
        // 총 페이지
        const totalPages = Math.ceil(data.totalElements / data.size);

        $.ajax({
            type: "GET",
            url: `/api/board?page=${currentPage}`,
            dataType: "json",
            success: function (data) {
                // 페이지 블럭의 첫페이지 번호와 마지막페이지 번호(ex.17페이지 일경우 start=11 last=20)
                var start = Math.floor(currentPage / 10) * 10 + 1;
                var last = (start + 9 < totalPages ? start + 9 : totalPages);


                // <<버튼 클릭시
                if (start > 10) {
                    $('<li>').appendTo(ul).append(
                        $('<a>').attr('href', '/board?page=1').attr('aria-label', 'First').append(
                            $('<span>').attr('aria-hidden', 'true').text('<<')
                        )
                    ).on('click', function (e) {
                        e.preventDefault();
                        window.location.href = '/board?page=1';
                    });
                }


                // < 버튼 생성
                if (start > 10) {
                    $('<li>').appendTo(ul).append(
                        $('<a>').attr('href', '#').attr('aria-label', 'Previous').append(
                            $('<span>').attr('aria-hidden', 'true').text('<')
                        )
                    ).on('click', function (e) {
                        e.preventDefault(); // 기본 이벤트 동작 방지
                        var prevPage = currentPage - 9;
                        if (prevPage >= 1) {
                            window.location.href = '/board?page=' + prevPage;
                        } else {
                            prevPage = 1;
                        }
                    });
                }

                //원하는 페이지 이동
                for (var page = start; page <= last; page++) {
                    $('<li>').toggleClass('active', page == data.number + 1).appendTo(ul)
                        .append(
                            $('<a>').attr('href', '/board?page=' + page).text(page)
                                .on('click', function (e) {
                                    e.preventDefault();
                                    var pageNum = $(this).attr('href').split('=')[1];
                                    window.location.href = '/board?page=' + pageNum;
                                })
                        );
                }

                // > 버튼 생성
                if (totalPages > 11 && currentPage <= (Math.floor(totalPages / 10) * 10) - 9) {
                    $('<li>').appendTo(ul).append(
                        $('<a>').attr('href', '#').attr('aria-label', 'Next').append(
                            $('<span>').attr('aria-hidden', 'true').text('>')
                        )
                    ).on('click', function (e) {
                        e.preventDefault();
                        var nextPage = parseInt(currentPage) + 11;
                        if (nextPage > totalPages) {
                            window.location.href = '/board?page=' + totalPages;
                        } else {
                            window.location.href = '/board?page=' + nextPage;
                        }
                    });
                } else if (totalPages > 11 && currentPage % 10 !== 0 && currentPage < (Math.floor(totalPages / 10) * 10)) {
                    $('<li>').appendTo(ul).append(
                        $('<a>').attr('href', '#').attr('aria-label', 'Next').append(
                            $('<span>').attr('aria-hidden', 'true').text('>')
                        )
                    ).on('click', function (e) {
                        e.preventDefault();
                        var nextPage = parseInt(currentPage) + 11;
                        if (nextPage > totalPages) {
                            window.location.href = '/board?page=' + totalPages;
                        } else {
                            window.location.href = '/board?page=' + nextPage;
                        }
                    });
                } else if (totalPages > 11 && currentPage % 10 === 0 && currentPage <= totalPages) {
                    var lastBlockStart = Math.floor(totalPages / 10) * 10 - 9;
                    if (currentPage < lastBlockStart) {
                        $('<li>').appendTo(ul).append(
                            $('<a>').attr('href', '#').attr('aria-label', 'Next').append(
                                $('<span>').attr('aria-hidden', 'true').text('>')
                            )
                        ).on('click', function (e) {
                            e.preventDefault();
                            var nextPage = parseInt(currentPage) + 11;
                            if (nextPage > totalPages) {
                                window.location.href = '/board?page=' + totalPages;
                            } else {
                                window.location.href = '/board?page=' + nextPage;
                            }
                        });
                    }
                }
                // >> 버튼 생성
                if (totalPages > 11 && currentPage <= (Math.floor(totalPages / 10) * 10) - 9) {
                    $('<li>').appendTo(ul).append(
                        $('<a>').attr('href', '#').attr('aria-label', 'Next').append(
                            $('<span>').attr('aria-hidden', 'true').text('>>')
                        )
                    ).on('click', function (e) {
                        e.preventDefault();
                        window.location.href = '/board?page=' + totalPages;

                    });
                } else if (totalPages > 11 && currentPage % 10 !== 0 && currentPage < (Math.floor(totalPages / 10) * 10)) {
                    $('<li>').appendTo(ul).append(
                        $('<a>').attr('href', '#').attr('aria-label', 'Next').append(
                            $('<span>').attr('aria-hidden', 'true').text('>>')
                        )
                    ).on('click', function (e) {
                        e.preventDefault();
                            window.location.href = '/board?page=' + totalPages;

                    });
                } else if (totalPages > 11 && currentPage % 10 === 0 && currentPage <= totalPages) {
                    var lastBlockStart = Math.floor(totalPages / 10) * 10 - 9;
                    if (currentPage < lastBlockStart) {
                        $('<li>').appendTo(ul).append(
                            $('<a>').attr('href', '#').attr('aria-label', 'Next').append(
                                $('<span>').attr('aria-hidden', 'true').text('>>')
                            )
                        ).on('click', function (e) {
                            e.preventDefault();
                                window.location.href = '/board?page=' + totalPages;
                        });
                    }
                }
                $('body').append(nav);
                $('#footer').before(nav);
            },
            error: function (xhr, status, error) {
                console.log("Error occurred: " + error);
            }
        });
    };
</script>
</body>
</html>