<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">

</head>
<body>

<!--haeder부분-->
<div th:insert="common/header.html" id="header"></div>

<!--body부분-->
<div class="board">

    <!--    검색 -->
    <form action="/board/posts/{keyword}" method="GET">
        <div>
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요"> <button>검색</button>
        </div>
    </form>

<a th:href="@{/board/posts}" class="write">글쓰기</a>
    <div>
    <table class="list">
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
            <th class="three wide">수정일자</th>
            <th class="one wide">조회수</th>
        </tr>
<a th:text="${postList}"></a>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="post : ${postList}">
            <td>
                <span th:text="${post.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${post.id}}">
                    <span th:text="${post.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.authorUsername}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${post.hits}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<!--footer부분-->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>