<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
    <meta charset="UTF-8">
    <title>수정하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!--haeder부분-->
<div th:insert="common/header.html" id="header"></div>


<div class="board">
<form th:action="@{'/post/edit/' + ${PostDto.id}}">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="id" th:value="${PostDto.id}"/>

    제목 : <input type="text" name="title" th:value="${PostDto.title}"> <br>
    작성자 : <input type="text" name="writer" th:value="${PostDto.username}" readonly> <br>
    --------------------------------------------<br>
    <textarea name="content" th:text="${PostDto.content}"></textarea><br>

    <button type="button" class="btn-update" id="btn-update">수정</button>
</form>
</div>
<!--footer부분-->
<div th:insert="common/footer.html" id="footer"></div>
<script>
    $(document).ready(function() {
        $("#btn-update").click(function() {
            var post_id = $("input[name=id]").val();
            var title = $("input[name=title]").val();
            var content = $("textarea[name=content]").val();
            $.ajax({
                type: "PUT",
                url: "/board/posts/edit/" + post_id,
                data: {
                    title: title,
                    content: content
                },
                success: function(result) {
                    window.location.href = "/board/detail/" + post_id;
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>

</body>
</html>